<% layout("layouts/boilerplate.ejs") %>

    <div class="container mt-3">
        <div class="row">
            <h1 class="col-12 text-center mb-4">Sign Up</h1>
            <div class="col-12 col-md-6 offset-md-3">
                <form action="/signup" method="post" class="needs-validation" novalidate>
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" placeholder="Enter username" name="username" class="form-control" required>
                        <div class="invalid-feedback">Please enter a username</div>
                    </div>

                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" placeholder="Enter email" name="email" class="form-control" required>
                        <div class="invalid-feedback">Please enter a valid email</div>
                    </div>

                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" placeholder="Enter password" name="password" class="form-control"
                            required>
                        <div class="invalid-feedback">Please enter a password</div>
                    </div>

                    <button class="btn btn-success w-100">Submit</button>
                </form>
            </div>
        </div>
    </div>